@use '../../styles/abstracts/' as *;
@use '../../styles/abstracts' as *;

.form-item {
  margin: 1.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;

  label {
    transition: all 0.2s;
    display: block;
    position: absolute;
    touch-action: manipulation;
    cursor: text;
  }

  .form-input {
    transition: all 0.2s;
    border: 0;
    outline: 0;
    touch-action: manipulation;
    border-bottom: 0.16rem solid var(--text-black-primary);
    padding: 0.6rem 0.4rem;
    -webkit-appearance: none;
    font-family: inherit;
    background-color: transparent;

    &:focus-visible,
    &:hover {
      border-color: var(--color-primary-600);
    }
    &:disabled {
      background-color: var(--color-neutral-50);
      cursor: not-allowed;
    }
  }

  .form-input:placeholder-shown + label {
    top: 0.8rem;
    left: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transition: 0.2s ease-in-out;
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  .form-input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .form-input:focus + label,
  .form-input:not(:placeholder-shown) + label {
    visibility: visible;
    top: 0.8rem;
    left: 0.4rem;
    transform: translate(-0.4rem, -2rem);
    color: var(--color-gey);
    transition: 0.2s ease-in-out all;
    cursor: pointer;
  }

  .help-text {
    color: var(--text-black-secondary);
  }

  textarea {
    height: 6rem;
    font-family: inherit;
  }
}
